.custom-select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 650px;
    margin: 15px 0;
}

.custom-select-label {
    font-family: 'Poppins', serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.custom-select {
    font-family: 'Poppins', serif;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    width: 100%;
}

.custom-select-error {
    font-family: 'Poppins', serif;
    font-weight: bold;
    font-size: 14px;
    color: red;
}

@media (max-width: 700px) {
    .custom-select-container {
        width: 80%;
    }
}