.analysis-screen {
    background-image: url("/src/assets/images/background/analysis/analysis-background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}