.custom-filter-bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.custom-filter-bar-left-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-filter-bar-right-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-filter-bar-icon {
    font-size: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.custom-filter-bar-search-icon {
    color: #f0f0f0;
}

.custom-filter-bar-filter-icon {
    color: #f0f0f0;
}

.custom-filter-bar-clear-icon {
    color: crimson;
}