.signup-screen {
    background-image: url("/src/assets/images/background/signup/signup-screen-background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 237, 207, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.signup-screen-title {
    font-family: 'Poppins', serif;
    font-weight: bold;
    font-size: 34px;
    margin: 10px 0;
    color: #f0f0f0;
}

.signup-screen-description {
    font-family: 'Poppins', serif;
    font-size: 16px;
    margin: 10px 0;
    color: #f0f0f0;
}


@media (max-width: 800px) {
    .signup-screen-container {
        width: 90%;
    }
}